# Python virtual environments
venv/
.venv/
env/
*.env

# Python bytecode and cache
__pycache__/
*.pyc

# Python distribution/build files
build/
dist/
*.egg-info/

# Large datasets
# It's generally bad practice to commit large data files.
*.csv
*.json
*.zip
*.data

# Saved models
# Models can be very large and should not be in Git.
*.pkl
*.h5
*.pth
*.pb
*.model

# IDE & Editor configuration
.vscode/
.idea/
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log
